<div class="panel-group" id="panel-951416">
				<div class="panel panel-default">
					<div class="panel-heading">
						 
                         
			
                         <a (click)="newNote()" type="button" class="btn btn-sm btn-info">New</a>
<a (click)="saveNote()" type="button" class="btn btn-primary btn-sm">Save</a>

					</div>
					<div id="panel-element-264828" class="panel-collapse collapse in">
						<div class="panel-body">
		



<div id="editable" >
  
</div>

</div>
						
					</div>
				</div>
				</div>